.btn-enviar {
    background: linear-gradient(90deg, #cfa64a, #e6c36a);
    color: #000;
    border: none;
    font-weight: bold;
}

.btn-enviar:hover {
    opacity: 0.95;
    transform: scale(1.02);
    transition: .2s;
    color: #000;
}