.form-login {
    max-width: 650px;
}

.btn-cadastro{
    background: linear-gradient(90deg, #cfa64a, #e6c36a);
    color: #000;
    border: none;
    font-weight: bold;
}

.btn-cadastro:hover{
    opacity: 0.95;
    transform: scale(1.02);
    transition: .2s;
    color: #000;
}