.admin-container{

    padding: 40px;
    min-height: 100vh;
    background: #070707;
    color: white;
}

.titulo-admin{
    font-size: 42px;
    margin-bottom: 40px;
    color: #d4af37;
}

.cards-admin{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.card-admin{
    background: linear-gradient(145deg, #171717, #101010);
    border: 1px solid rgba(212,175,55,0.12);
    border-radius: 24px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.card-admin h2{
    color: #d4af37;
    margin-bottom: 20px;
}

.card-admin span{
    font-size: 48px;
    font-weight: bold;
}

.subtitulo-admin{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 25px;
}

.lista-agendamentos{
    margin-top: 20px;
}

.agendamento-item{
    background: linear-gradient(145deg, #161616, #101010);
    border: 1px solid rgba(212,175,55,0.10);
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    align-items: center;
}

/* STATUS */
.status{
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 6px;
}

.status-confirmado{
    color: #2ecc71;
}

.status-pendente{
    color: #f1c40f;
}

.status-cancelado{
    color: #e74c3c;
}

/* BOTÕES */
.botoes-acoes{
    display: flex;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.btn-confirmar{
    background: #2ecc71;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.btn-confirmar:hover{
    opacity: 0.85;
}

.btn-excluir{
    background: #e74c3c;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.btn-excluir:hover{
    opacity: 0.85;
}